@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  /*paddings*/
  --padding-sides: 6.5%;
  /*Paleta colores*/
  --maximum-blue-green: #16bac5;
  --maya-blue: #5fbff9;
  --magnolia: #efe9f4;
  --alabaster:#E0E2DB;
  --dark-jungle-green: #171d1c;
  --dark-jungle-green-95: rgba(23, 29, 28, 0.95);
  --neon-blue: #5863f8;
  /*z-index*/
  --z-index-nav-mobile: 1000000;
  --z-index-fog: calc(var(--z-index-nav-mobile) - 150);
  /*variables*/
  --header: 75px;
  /*typografia*/
  --raleway: "Raleway", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  //background-color: rgba(23, 29, 28,0.75);
  //background-color: #717568;
  background-color: var(--dark-jungle-green-95);
  overflow-x: hidden;
  
}

.padding-sides {
  //padding: 0 var(--padding-sides);
  padding-left: var(--padding-sides);
  padding-right: var(--padding-sides);
  
 
}

.padding-top {
  padding-top: 65px;
}

.padding-bottom {
  padding-bottom: 65px;
}

.fog {
  background-color: rgba(23, 29, 28, 0.65);
  filter: blur(10px);
  position: fixed;
  width: 100vw;
  top: 0;
  height: 100vh;
  z-index: var(--z-index-fog);
}

.hidden {
  display: none !important;
  
}


.visibility-hidden{
  visibility: hidden;
}


.overflow-active{
  overflow: hidden;
}

.title-sections {
  font-size: 32.76px;
  font-weight: bold;
  color: var(--magnolia);
}

@keyframes o-rotate-360 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*media querys*/
@media only screen and (max-width: 992px) {
  :root {
    --padding-sides: 40px;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    --padding-sides: 22.5px;
  }
}

@media only screen and (max-width: 479px) {
  :root {
    --padding-sides: 15.5px;
  }
}

/*media querys*/
