@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /*paddings*/
  --padding-sides: 13%;
  /*Paleta colores*/
  --maximum-blue-green: #16bac5;
  --maya-blue: #5fbff9;
  --magnolia: #efe9f4;
  --dark-jungle-green: #171d1c;
  --dark-jungle-green-95: rgba(23, 29, 28, 0.95);
  --neon-blue: #5863f8;
  /*z-index*/
  --z-index-nav-mobile: 1000000;
  --z-index-fog: calc(var(--z-index-nav-mobile) - 150);
}

body {
  font-family: "Roboto", sans-serif;
  //background-color: rgba(23, 29, 28,0.75);
  //background-color: #717568;
  background-color: var(--dark-jungle-green-95);
  overflow: hidden;
}

.padding-sides {
  padding: 0 var(--padding-sides);
}

.hero {
  height: 420px;
  width: 100vw;
  background-color: var(--dark-jungle-green);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .hero__text {
    .text__myname {
      .hello {
        color: var(--magnolia);
        font-size: 23.5px;
        font-weight: bold;
        //margin-bottom: 2.5px;
      }

      .name {
        color: var(--maya-blue);
        font-size: 36.5px;
        font-weight: bold;
        margin-bottom: 15px;
      }
    }

    .text__info {
      font-size: 18px;
      color: var(--magnolia);

      p {
        margin-bottom: 2.5px;
      }
    }

    .text__downloadcv {
      margin-top: 17.5px;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: var(--magnolia);
        width: 180px;
        height: 50px;
        border-radius: 5px;
        border: 0.5px solid var(--maya-blue);
        background: rgb(9, 58, 61);
        background: linear-gradient(
          0deg,
          rgba(9, 58, 61, 1) 0%,
          rgba(12, 89, 93, 1) 43%,
          rgba(15, 122, 129, 1) 62%,
          rgba(22, 186, 197, 1) 100%
        );
        
      }
    }
  }

  .hero__img {
    /* height: 325px;
        width: 325px;
        background-image: url("../assets/img/vectorpaint.svg");
        background-size: cover;
        background-repeat: no-repeat;*/
    width: 230px;
  }
}

.fog {
  background-color: rgba(23, 29, 28, 0.65);
  filter: blur(10px);
  position: absolute;
  width: 100vw;
  top: 0;
  height: 100vh;
  z-index: var(--z-index-fog);
}

.hidden {
  display: none !important;
}

@keyframes o-rotate-360 {
    0% { transform: rotate(0) }
  
    100% { transform: rotate(360deg) }
  }


/*media querys*/
@media only screen and (max-width: 992px) {
  :root {
    --padding-sides: 50px;
  }
}
/*media querys*/