.header {
  width: 100vw;
  height: 75px;
  background-color: var(--dark-jungle-green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #474949;
  border-bottom: 1px solid #474949;
}
.header .header__title {
  display: flex;
  color: var(--maya-blue);
  font-size: 20.5px;
}
.header .header__title:hover {
  color: var(--maximum-blue-green);
  cursor: pointer;
}
.header .header__nav ul {
  display: flex;
  column-gap: clamp(7.5px, 2.78vw, 40px);
  color: var(--magnolia);
  font-size: 14.7px;
}
.header .header__nav ul li:hover {
  filter: brightness(1.3);
  transition: 0.5s all;
  color: var(--maya-blue);
  cursor: pointer;
}
.header .header__nav-mobile {
  display: none;
  position: fixed;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateX(0vw);
  top: 0px;
  right: 0px;
  width: 218.75px;
  height: 100vh;
  background-color: var(--dark-jungle-green);
  z-index: var(--z-index-nav-mobile);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__nav-mobile ul {
  display: flex;
  flex-direction: column;
  color: var(--magnolia);
  row-gap: 28px;
  font-size: 20px;
}
.header .header__nav-mobile ul li {
  text-align: center;
}
.header .header__nav-mobile ul li:hover {
  color: var(--maya-blue);
  cursor: pointer;
}
.header #header__hamburger {
  cursor: pointer;
  width: 30px;
  height: 24px;
  border: 0;
  background: 0 0;
  outline: 0;
  padding: 0;
  display: none;
  flex-direction: column;
  row-gap: 6px;
  z-index: calc(var(--z-index-nav-mobile) + 555);
}
.header #header__hamburger i {
  background-color: #fff;
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
}
.header .menu-close i:nth-child(1) {
  animation: hamburger1 0.8s backwards;
  animation-direction: reverse;
}
.header .menu-close i:nth-child(2) {
  animation: hamburger2 0.8s backwards;
  animation-direction: reverse;
}
.header .menu-close i:nth-child(3) {
  animation: hamburger3 0.8s backwards;
  animation-direction: reverse;
}
.header .menu-open i:nth-child(1) {
  -webkit-animation: hamburger1Open 0.8s forwards;
  animation: hamburger1Open 0.8s forwards;
}
.header .menu-open i:nth-child(2) {
  -webkit-animation: hamburger2Open 0.8s forwards;
  animation: hamburger2Open 0.8s forwards;
}
.header .menu-open i:nth-child(3) {
  -webkit-animation: hamburger3Open 0.8s forwards;
  animation: hamburger3Open 0.8s forwards;
}

/*media querys*/
@media only screen and (min-width: 768px) {
  .header__nav-mobile {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .header .header__nav {
    display: none;
  }
  .header .header__nav-mobile {
    display: inherit;
  }
  .header #header__hamburger {
    display: flex;
  }
}
/*media querys*/
@keyframes hamburger1 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0);
    transform: translateY(9px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
    transform: translateY(9px) rotate(135deg);
  }
}
@keyframes hamburger2 {
  50% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@keyframes hamburger3 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0);
    transform: translateY(-9px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
    transform: translateY(-9px) rotate(135deg);
  }
}
@keyframes hamburger1Open {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0);
    transform: translateY(9px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
    transform: translateY(9px) rotate(135deg);
  }
}
@keyframes hamburger2Open {
  50% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@keyframes hamburger3Open {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0);
    transform: translateY(-9px) rotate(0);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
    transform: translateY(-9px) rotate(135deg);
  }
}

/*# sourceMappingURL=header.css.map */
