.boxs{


  
        background-color: var(--dark-jungle-green);
      
        h3 {
          text-align: center;
          margin-bottom: 32px;
        }
      
        .boxs__container {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(6, minmax(139.96px,166px));
          grid-template-rows: 154px;
          justify-content: center;
          grid-column-gap: 15.5px;
          grid-row-gap: 15.5px;
          .box {
           
            //min-width: 139.96px; 
            //height: 154px;
            border-radius: 3.5px;
            border:1px solid var(--maya-blue);
            padding:0 16px 16px 16px;
            display: flex;
            flex-direction: column;
      
            img{
              margin-top:auto;
              margin-bottom: 9.5px;
            }
      
            p{
              color:var(--magnolia);
              font-family: var(--raleway);
            }
      
          
          }
        }
      




}


@media only screen and (max-width: 992px){
  .boxs{


  
    
  
    h3 {
      
    }
  
    .boxs__container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, minmax(139.96px,186px));
      grid-template-rows: repeat(2, 184px);
      justify-content: center;
      grid-column-gap: 17.5px;
      grid-row-gap: 17.5px;
      .box {
       
        //min-width: 139.96px; 
        //min-height: 154px;
        border-radius: 3.5px;
        border:1px solid var(--maya-blue);
        padding:0 16px 16px 16px;
        display: flex;
        flex-direction: column;
  
        img{
          margin-top:auto;
          margin-bottom: 9.5px;
        }
  
        p{
          color:var(--magnolia);
          font-family: var(--raleway);
        }
  
      
      }
    }
  




}

}


@media only screen and (max-width: 700px){
  .boxs{


  
    
  
    h3 {
      
    }
  
    .boxs__container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, minmax(139.96px,186px));
      grid-template-rows: repeat(3, minmax(145.96px,169px));
      justify-content: center;
      grid-column-gap: 17.5px;
      grid-row-gap: 17.5px;
      .box {
       
        //min-width: 139.96px; 
        //min-height: 154px;
        border-radius: 3.5px;
        border:1px solid var(--maya-blue);
        padding:0 16px 16px 16px;
        display: flex;
        flex-direction: column;
  
        img{
          margin-top:auto;
          margin-bottom: 9.5px;
        }
  
        p{
          color:var(--magnolia);
          font-family: var(--raleway);
        }
  
      
      }
    }
  




}

}



@media only screen and (max-width: 479px){
   
  
  .boxs{


  
    
  
    h3 {
      
    }
  
    .boxs__container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, minmax(135.96px,186px));
      grid-template-rows: repeat(3, minmax(145.96px,169px));
      justify-content: center;
      grid-column-gap: 17.5px;
      grid-row-gap: 17.5px;
      .box {
       
        //min-width: 139.96px; 
        //min-height: 154px;
        border-radius: 3.5px;
        border:1px solid var(--maya-blue);
        padding:0 16px 16px 16px;
        display: flex;
        flex-direction: column;
  
        img{
          margin-top:auto;
          margin-bottom: 9.5px;
        }
  
        p{
          color:var(--magnolia);
          font-family: var(--raleway);
        }
  
      
      }
    }
  




}
  }
  