.hobbies{

    background-color: var(--dark-jungle-green);
    h3 {
        text-align: center;
        margin-bottom: 32px;
      }


      #hobbies__pesca{
        width: 36.5px;
        height: 36.5px;
      }

      

      #hobbies__pc{
        width: 42.5px;
        height: 42.5px;
        margin-bottom: 5.5px !important;
      }

      
      
      #hobbies__games{
        width: 38.5px;
        height: 38.5px;
        margin-bottom: 5.5px !important;
      }

      #hobbies__walk{
        width: 38.5px;
        height: 38.5px;
      }

      #hobbies__read{
        width: 34.5px;
        height: 34.5px;
      }

      #hobbies__music{
        width: 37.5px;
        height: 37.5px;
        
      }

}