.skills {
  background-color: var(--dark-jungle-green);


      

      #skill__html{
        width: 27.5px;
        height: 27.5px;
      }

      #skill__css{
        width: 27.5px;
        height: 27.5px;
      }

      #skill__javascript{
        width: 29.5px;
        height: 29.5px;
        margin-bottom: 7.25px;
      }

      #skill__vuejs{
        width: 32.5px;
        height: 32.5px;
      }

      #skill__python{
        width: 27.5px;
        height: 27.5px;
      }

      #skill__mysql{
        width: 34.5px;
        height: 34.5px;
      }
      
    
    
  }

